<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="locations" value="classpath:app.properties"/> 
	</bean>

	<!-- 登陆时候的验证码 -->
	<bean id="loginCaptchaConfig" class="demo.chapta.Config">
		
    	<property name="tmpPath" value="${tmpDirectory}"/>
    	<property name="dictPath" value="${captchaLogin.dictDirectory}"/>
    	
    	<property name="minNearSpots" value="${captchaLogin.minNearSpots}"/>
    	<property name="width" value="${captchaLogin.width}"/>
    	<property name="height" value="${captchaLogin.height}"/>
    	<property name="offsetY" value="${captchaLogin.offsetY}"/>
    	<property name="offsetX">
    		<value>${captchaLogin.offsetX}</value>
    	</property>
    </bean>
    
	<!-- 出价时候的验证码 -->
    <bean id="captchaConfig" class="demo.chapta.Config">
    	
    	<property name="tmpPath" value="${tmpDirectory}"/>
    	<property name="dictPath" value="${captchaSubmit.dictDirectory}"/>
    	
    	<property name="minNearSpots" value="${captchaSubmit.minNearSpots}"/>
    	<property name="width" value="${captchaSubmit.width}"/>
    	<property name="height" value="${captchaSubmit.height}"/>
    	<property name="offsetY" value="${captchaSubmit.offsetY}"/>
    	<property name="offsetX">
    		<value>${captchaSubmit.offsetX}</value>
    		<!-- <array>
    			<value>5</value>
    			<value>21</value>
    			<value>37</value>
    			<value>53</value>
    			<value>69</value>
    			<value>85</value>
    		</array> -->
    	</property>
    </bean>
    
    <bean id="priceConfig" class="demo.chapta.Config">
    	<property name="tmpPath" value="${tmpDirectory}"/>
    	<property name="dictPath" value="${price.dictDirectory}"/>
    	
    	<property name="minNearSpots" value="${price.minNearSpots}"/>
    	<property name="width" value="${price.width}"/>
    	<property name="height" value="${price.height}"/>
    	<property name="offsetY" value="${price.offsetY}"/>
    	<property name="offsetX">
    		<value>${price.offsetX}</value>
    	</property>
    </bean>
</beans>