<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="locations" value="classpath:app.properties"/> 
	</bean>

	<!-- 登陆时候的验证码 -->
	<bean id="loginCaptchaConfig" class="demo.chapta.Config">
		
    	<property name="tmpPath" value="${tmpDirectory}"/>
    	<property name="dictPath" value="${captchaLogin.dictDirectory}"/>
    	
    	<property name="minNearSpots" value="${captchaLogin.minNearSpots}"/>
    	<property name="width" value="${captchaLogin.width}"/>
    	<property name="height" value="${captchaLogin.height}"/>
    	<property name="offsetY" value="${captchaLogin.offsetY}"/>
    	<property name="offsetX">
    		<value>${captchaLogin.offsetX}</value>
    		<!-- <array>
    			<value>0</value>
    			<value>17</value>
    			<value>34</value>
    			<value>51</value>
    			<value>68</value>
    			<value>85</value>
    		</array> -->
    	</property>
    </bean>
    
	<!-- 出价时候的验证码 -->
    <bean id="captchaConfig" class="demo.chapta.Config">
    	
    	<property name="tmpPath" value="${tmpDirectory}"/>
    	<property name="dictPath" value="${captchaSubmit.dictDirectory}"/>
    	
    	<property name="minNearSpots" value="${captchaSubmit.minNearSpots}"/>
    	<property name="width" value="${captchaSubmit.width}"/>
    	<property name="height" value="${captchaSubmit.height}"/>
    	<property name="offsetY" value="${captchaSubmit.offsetY}"/>
    	<property name="offsetX">
    		<value>${captchaSubmit.offsetX}</value>
    		<!-- <array>
    			<value>5</value>
    			<value>21</value>
    			<value>37</value>
    			<value>53</value>
    			<value>69</value>
    			<value>85</value>
    		</array> -->
    	</property>
    </bean>
    
    <bean id="captchaConfigMoni" class="demo.chapta.Config">
    	<property name="tmpPath" value="${tmpDirectory}"/>
    	<property name="minNearSpots" value="2"/>
    	<property name="width" value="15"/>
    	<property name="height" value="20"/>
    	<property name="offsetY" value="3"/>
    	<property name="offsetX">
    		<array>
    			<value>0</value>
    			<value>18</value>
    			<value>36</value>
    			<value>54</value>
    			<value>72</value>
    			<value>90</value>
    		</array>
    	</property>
    	<property name="dictPath" value="/home/martin/dicts/0"/>
    </bean>
    
    <bean id="priceConfig" class="demo.chapta.Config">
    	<property name="tmpPath" value="${tmpDirectory}"/>
    	<property name="dictPath" value="/home/martin/dicts/price"/>
    	
    	<property name="minNearSpots" value="1"/>
    	<property name="width" value="8"/>
    	<property name="height" value="13"/>
    	<property name="offsetY" value="2"/>
    	<property name="offsetX">
    		<array>
    			<value>2</value>
    			<value>12</value>
    			<value>22</value>
    			<value>32</value>
    			<value>42</value>
    		</array>
    	</property>
    </bean>
</beans>