#set( $ContextPath = ${request.contextPath} )

<script type="text/javascript">
	$(function(){
		$("button[toggle='REMOVE']").click(function(){
			
			var host = $(this).attr("host");
			var opsID = $(this).attr("opsID");
			
			$.ajax({
			    url : host + '/removeOps.do?opsID=' + opsID,
    			type: 'PUT',
				contentType: 'application/json;charset=utf-8;',
				error: function(msg) { alert("error"); },
				complete: function(msg) { console.log("complete"); },
				success: function(msg) { 
				
					alert("操作成功");
					console.log("complete");
				}     
			});
		});
	});
</script>

<form class="form-horizontal" onsubmit="return false;">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="HOST">HOST/IP</label>
			<div class="controls">
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input id="HOST" class="form-control input-xlarge uneditable-input" disabled style="width:210px;height:30px;" type="text" placeholder="startTime" value="${client.ip}"></input>
				</div>
			</div>
		</div>
		<!--CONFIG-->
		#if (${client.config})
		<div class="control-group">
			<label class="control-label" for="CONFIG-NO">投标号</label>
			<div class="controls">
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input id="CONFIG-NO" class="form-control input-xlarge" style="width:210px;height:30px;" type="text" placeholder="startTime" value="${client.config.no}"></input>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="CONFIG-PASS">密码</label>
			<div class="controls">
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input id="CONFIG-PASS" class="form-control input-xlarge" style="width:210px;height:30px;" type="text" placeholder="startTime" value="${client.config.passwd}"></input>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="CONFIG-PID">身份证</label>
			<div class="controls">
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input id="CONFIG-PID" class="form-control input-xlarge" style="width:210px;height:30px;" type="text" placeholder="startTime" value="${client.config.pid}"></input>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="CONFIG-PNAME">姓名</label>
			<div class="controls">
				<div class="input-group">
					<span class="input-group-addon">#</span>
					<input id="CONFIG-PNAME" class="form-control input-xlarge" style="width:210px;height:30px;" type="text" placeholder="startTime" value="${client.config.pname}"></input>
				</div>
			</div>
		</div>
		#end
		<!--CONFIG-->
		#foreach(${operation} in ${client.operation})
		<div class="control-group">
			<label class="control-label" for="startTimeInput">操作-${operation.id}</label>
			<div class="controls form-inline">
				<div class="input-group">
					<span class="input-group-addon" style="width:50px;">${operation.type}</span>
					<input id="startTimeInput" class="form-control" style="width:210px;height:30px;" type="text" placeholder="startTime" value="${operation.tips}"></input>
				</div>
				<button type="submit" class="btn btn-primary btn-sm" toggle="REMOVE" host="${client.ip}" opsID="${operation.id}">REMOVE</button>
			</div>
		</div>
		#end
		<!--
		<div class="form-actions">
			<button class="btn btn-primary" type="submit" id="MODIFY">保存修改</button>
			<button class="btn">取消</button>
		</div>
		-->
	</fieldset>
</form>