#set( $ContextPath = ${request.contextPath} )

<link rel="stylesheet" href="${ContextPath}/css/bootstrap.css" >
<link rel="stylesheet" type="text/css" href="${ContextPath}/css/jquery.datetimepicker.css"/>

<script type="text/javascript" src="${ContextPath}/js/jquery/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="${ContextPath}/js/jquery/jquery.datetimepicker.js"></script>
<script type="text/javascript" src="${ContextPath}/js/jquery/jquery.maskedinput.js"></script>

<script type="text/javascript" src="${ContextPath}/js/bootstrap.js"></script>

<script type="text/javascript">

	$(function(){
		
		var date = new Date();
		var yyyy = date.getFullYear();
		var m = date.getMonth() + 1;
		var mm = (m < 10) ? '0' + m : m;
		var d = date.getDate();
		var dd = (d < 10) ? '0' + d : d;
		
		var strNow = yyyy + '-' + mm + '-' + dd;
		$("#startTimeInput").mask(strNow + " 99:99:99",{placeholder:"yyyy-mm-dd hh:MM:ss"});
		$("#expireTimeInput").mask("9999-99-99 24:99:99",{placeholder:"yyyy-mm-dd hh:MM:ss"});
		
		$.get("${ContextPath}/command/client/list.do",
			function(result){

				var table = $('#hostTable');
				for(var i=0; i<result.length; i++){
				
					var row = "<tr><td>" + result[i].ip + "</td>"
					if(result[i].operation.length > 0){
						var ops = "";
						for(var j=0; j<result[i].operation.length; j++){
							ops += result[i].operation[j].type + " @" + result[i].operation[j].startTime + "<br/>"
						}
						row += "<td>"+ops+"</td>";
					} else
						row += "<td></td>";
					row += "<td>" + result[i].updateTime + "</td>";
					row += "<td><input name='checkHost' type='checkbox' value='" + result[i].ip + "'/></td></tr>";
					table.append(row);
				}
			}
		);
		
		$.get("${ContextPath}/command/operation/screenconfig/all.do",
			function(result){
			
				var table = $('#screenTable');
				for(var i=0; i<result.length; i++){
					var row = "<tr><td><label><input type='radio' value='" + result[i].id + "' name='radio'></td>";
					row += "<td>" + result[i].id + "</td>";
					row += "<td>" + result[i].category + "</td>";
					row += "<td data-toggle='popover' title='json Content' data-container='body' data-toggle='popover' data-placement='bottom' data-content='" +  JSON.stringify(result[i].jsonContent) + "'>......</td>";
					row += "<td>" + result[i].createTime + "</td>";
					table.append(row);
				}
				
				$("[data-toggle='popover']").popover();
			}
		);
		
		$("#OK").click(function(){
			var hosts = new Array();
			$("input[type='checkbox']:checked").each(function(){
				hosts.push($(this).val());
			});
			if(hosts.length == 0){
				alert("选择HOST先");return;
			}
			
			var radio = $("input[name='radio']:checked");
			if(radio.length == 0){
				alert("选择ScreenConfig");return;
			}
			
			var startTime = $("#startTimeInput").val();
			var expireTime = $("#expireTimeInput").val();
			var price = $("#price").val();
			
			//"hosts":hosts
			//"screenID":$(radio[0]).val(),
			var bid = {
				"startTime":startTime,
				"expireTime":expireTime,
				"price":price
			};
			var requestParam = {
				"bid" : bid,
				"screenID" : $(radio[0]).val(),
				"hosts" : hosts
			}
			var endPoint = "${ContextPath}/command/operation/BID/new.do";
			$.ajax({
				url:endPoint,
				type:'post',
				cache:false,
				data:JSON.stringify(requestParam),
				contentType: 'application/json; charset=utf-8',
				dataType: 'json',
				success: function(json) {
					alert("SUCCESS");
					console.log(" reponse :"+ json);
                }
			});
			//$.post(endPoint, param, function(){
			//	alert("DONE");
			//}, "json");
		});
	});
</script>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-6"><!--Sidebar content-->
			<form class="form-horizontal" onsubmit="return false;">
			<fieldset>
        		<legend>客户端列表</legend>
        		<div class="control-group">
        			<table id="hostTable" class="table table-striped table-bordered table-hover">
						<tr>
							<th>HOST/IP</th>
							<th>分派の任务</th>
							<th>更新时间</th>
							<th>OPS</th>
						</tr>
					</table>
        		</div>
			</fieldset>
			</form>
        </div><!--Sidebar content-->
        
        <div class="col-sm-6"><!--Body content-->
	    <form class="form-horizontal" onsubmit="return false;">
			<fieldset>
        		<legend>创建OPERATION</legend>
        		<div class="control-group">
        			<table id="screenTable" class="table table-striped table-bordered table-hover">
						<tr>
							<th>OPS</th><th>ID</th><th>Category</th><th>json content</th><th>createTime</th>
						</tr>
					</table>
        		</div>
        		<div class="form-group">
					<label class="control-label col-sm-2" for="startTimeInput">触发时间</label>
					<div class="controls col-sm-2">
						<div class="input-group">
							<span class="input-group-addon">@</span>
							<input id="startTimeInput" class="form-control" style="width:200px;height:30px;" type="text" placeholder="startTime"></input>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="expireTimeInput">有效时间</label>
					<div class="controls col-sm-2">
						<div class="input-group">
						  	<span class="input-group-addon">@</span>
						  	<input id="expireTimeInput" class="form-control" style="width:200px;height:30px;" type="text" placeholder="expireTime"></input>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="price">加价选择</label>
					<div class="controls col-sm-2">
						<select id="price">
							<option value="100">+100</option>
							<option value="200">+200</option>
							<option value="300" SELECTED>+300</option>
							<option value="400">+400</option>
							<option value="500">+500</option>
							<option value="600">+600</option>
						</select>
					</div>
				</div>
				<div class="form-actions">
					<button class="btn btn-primary" type="submit" id="OK">保存修改</button>
					<button class="btn">取消</button>
				</div>
      		</fieldset>
    	</form>
        </div><!--Body content-->
	</div>
</div>

